:root {
    --main-blue: #3138b9;
    --main-purple-light: #b4adff;
    --discount-pink: #f6436f;
}

* {
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Rubik", sans-serif;
}

html,
body {
    overflow-x: hidden;
}

img {
    display: block;
    max-width: 100%;
}

 header.home {
    min-height: 80vh;
    position: relative;
} 

.container {
    max-width: 90%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 20px 0;
    z-index: 10; 
    width: 90%;
    margin: 0 auto;
    align-items: center;

}


.nav-links {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
    transition: 0.3s;
    letter-spacing: 1.2px;

}

.nav-links a:hover {
    opacity: 0.4;
}

.bars,
.x {
    position: absolute;
    right: 0;
    color: var(--main-blue);
    font-size: 40px;
    display: none;
}


#logo {
    width: 75px;
}


.bg.index {
    background-image: url(images/hero.png);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    border-radius: 0 0 0 350px;
}


section {
    min-height: 80vh;
}

section.home {
    padding: 75px 0;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;

    margin: 0 auto;
    align-self: center;
    max-height: 100%;

    padding-top: 20px;
}


section.home h2 {
    color: var(--main-blue);
    font-size: 3rem;
    margin-bottom: 30px;
}


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 280px;
    object-fit: contain;
    /* vis hele, behold proposjonene */
}

.discount {
    position: absolute;
    top: 10px;
    left: 10px;

    background-color: var(--discount-pink);
    padding: 1rem;
    border-radius: 50%;
    width: 55px;
    height: 55px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    font-weight: 700;
    font-size: 1rem;
}

.more {
    background-color: var(--main-blue);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    margin: 20px;
    z-index: 2;
}

.more:hover {
    opacity: 0.8;
    transform: translateY(-2px);
}

.more.active {
    background-color: var(--main-purple-light);
    color: var(--main-blue);
}

.info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:0;

    z-index: 1;

    padding: 20px;

    display: flex;
    text-align: center;
    justify-content: flex-start;
    align-items: flex-start;
    opacity: 0;

    transition: 0.3s;
    font-weight: 300;
    line-height: 2;

    background-color: rgba(255, 255, 255, 0.85);


}

.card.active .info {
    opacity: 1;
    overflow: scroll;
    height: 280px;
    transition: 0.5s;
}

section:last-of-type {
    background: linear-gradient(var(--main-purple-light), white);
    display: flex;
    justify-content: center;
    align-items: center;
}


.flex-wrapper {
    display: flex;
    margin: 0 auto;
    align-items: center;
    gap: 40px;

}

.flex-wrapper img {
    flex: 1;
    max-width: 450px;
}

.content {
    flex: 1;
    line-height: 1.8;
    font-weight: 300;
    max-width: 550px;
    font-size: 18px;

}

h3 {
    color: var(--main-blue);
    font-size: 30px;
}


footer {

    background-color: var(--main-blue);
    border-radius: 35px 35px 0 0;

}

footer .container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;

    padding: 40px 20px;
}

footer ul {
    display: flex;
    gap: 50px;
    list-style-type: none;
    font-size: 20px;
}

footer i {
    font-size: 35px;
    transition: 0.3s;
    color: white;
}

footer i:hover {
    transform: translateY(-5px);
}

footer ul li {
    display: flex;
    gap: 20px;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: white;
}

.copyright {
    font-size: 14px;
    color: white;
}



/* skincare siden */

.img-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;

}

.img-grid img {
    object-fit: cover;
    aspect-ratio: 7/4;
}

h2.skincare {
    font-size: 45px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1.8px;
    color: var(--main-blue);
    font-weight: 500;
    line-height: 1.1;
}

header.skincare {
    padding: 50px 0;
    background: linear-gradient(white, var(--main-purple-light));
    min-height: 40vh;

}

header.skincare .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.img-grid img:first-of-type {
    border-radius: 20px 0 0 20px;
}

.img-grid img:last-of-type {
    border-radius: 0 20px 20px 0;
}

.nav-links.skincare a {
    color: var(--main-blue);
}

.form {
    display: flex;
    gap: 15px;
}

input {
    padding: 10px 5px;
    border-radius: 5px;
    border: none;
    max-width: 150px;
    background-color: var(--main-blue);
    color: white;
}

input:hover {
    background-color: var(--main-purple-light);
    color: var(--main-blue);
}

.customer-club {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form button {
    background-color: rgb(255, 255, 255);
    color: var(--main-blue);
    border: none;
    padding: 15px;
    max-width: 150px;
    border-radius: 5px;
}

.form button:hover {
    background-color: rgb(215, 215, 215);
    cursor: pointer;
}

section.skincare-2 {
    background: white;
}

.product {
    display: flex;
    align-items: center;
    gap: 60px;

    margin-bottom: 20px;
    padding: 40px;

    background: rgba(255, 255, 255, 0.7);

}


.product img {
    max-width: 260px;
    transition: 0.4s; 
}

.product img:hover {
    transform: scale(1.2) rotate(-5deg);

}

.product:nth-child(even) {
    flex-direction: row-reverse;
}

.product img {
    flex: 2;
}

.product .content {
    flex: 1;
}

.price {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
}

.old-price {
    color: grey;
    text-decoration: line-through;
    font-size: 16px;
}

.new-price {
    color: var(--discount-pink);
    font-size: 24px;
    font-weight: 700;
}

/* sunscreen */

.nav-links.sunscreen a {
    color: var(--main-blue);

}

.nav-links.sunscreen {
    background-color: rgba(255, 255, 255);
    padding: 20px;
}


.sun i,
.moon i {
    color: var(--main-blue);
    font-size: 40px;
}

.sun,
.moon {
    position: absolute;
    top: 150px;
    left: 100px;
    width: 50px;
    height: 50px;
    z-index: 10;
}

.sun {
    display: none;

}

.moon {
    display: block;
}

body.sunscreen {
    background-image: url(./images/sky-day.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

body.sunscreen.active {
    background-image: url(./images/sky-night.png);
}

section.sun-products {
    background: none;
}

section.sun-products .container {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 30px;
    padding: 40px 0;

}

.sun-card {
    position: relative;
    aspect-ratio: 1/1;
    background-color: white;

}

.sun-card img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.5s;
}

.night-product {
    opacity: 0;
}

body.sunscreen.active .day-product {
    opacity: 0;
}

body.sunscreen.active .night-product {
    opacity: 1;
}

@media (max-width: 900px) {

    .flex-wrapper {
        flex-direction: column;
        text-align: center;
        gap: 20px;
        padding: 80px 0;
    }

    .content {
        max-width: 100%;
        font-size: 16px;
        line-height: 1.7;
    }

    .flex-wrapper img {
        max-width: 500px;
    }

    .info {
        font-size: 14px;
    }

}

@media (max-width: 700px) {

    .sun,
    .moom {
        left: 80px;
    }

    .bg {
        background-position: center top;
        border-radius: 0 0 0 150px;
    }

    .nav-links {
        position: absolute;
        right: -300px;
        top: 120px;
        background-color: white;
        flex-direction: column;
        width: 200px;
        padding: 20px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
        transition: 0.5s;
        min-height: 250px;
        gap: 50px;
        padding-top: 40px;
        max-width: 0px;
        overflow: hidden;

    }

    .sun,
    .moon {
        left: 70px;
    }


    .bars,
    .x {
        display: block;

    }

    .bars i,
    .x i {
        color: var(--main-blue);
    }

    .bars i {
        display: block;
    }

    .x i {
        display: none;
    }

    .bars i.active {
        display: none;
    }

    .x i.active {
        display: block;
    }

    .nav-links.active {
        right: -35px;
        max-width: 200px;
    }

    .nav-links a {
        color: var(--main-blue);
    }

    .grid-wrapper {
        grid-template-columns: 1fr;
    }

    .form {
        flex-direction: column;
        max-width: 80%;
        margin: 0 auto;
    }

    h2.skincare {
        font-size: 34px;
    }

    .img-grid {
        aspect-ratio: 3/1;
    }

    .bg {
        border-radius: 0;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
    }

    section.home {
        padding: 40px 0;
    }

    header.home {
        max-height: 60vh;
    }

    footer i {
        font-size: 20px;
    }

    footer ul {
        font-size: 16px;
    }

    .new-price {
        font-size: 18px;
    }

    .old-price {
        font-size: 12px;
    }

    .product img {
        max-width: 150px;
    }

    footer .container {
        gap: 30px;
        padding: 30px 15px;
    }

    footer ul {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;

    }

    .bg.index {
        border-radius: 0;
    }

    .copyright {
        font-size: 12px;
    }

    footer ul li {
        flex-direction: column;
        gap: 8px; 
    }

    .customer-club h3 {
        text-align: center;
    }

    .customer-club p {
        text-align: center;
    }

    .price {
        flex-direction: column;
    }

    section.sun-products .container {
        grid-template-columns: minmax(200px, 1fr);
    }


}